*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(12.png); no-repeat;
	background-size: cover;
	height: 100vh;
}
.navbar{
	height: 100px;
	width: 100%;
	background: #999;	
}
.navbar img{
	float: left;
	margin-top: 85px;
	width: 410px;
	height: 550px;
}
.navbar ul{
	float: right;
	margin-right: 30px;
}
.navbar ul li{
	List-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	text-decoration:none;
	color:#000;
	font-size:24px;
	padding: 6px 13px;
	font-family:fantasy;
	transition: .4s;
	
}
.navbar ul li a.active
.navbar ul li a:hover{ 
	background: #000;
	border-radius: 2px;
}
.wrapper .right{
	position:absolute;
	top: 20%;
	left: 60%;
	transform:translate(-50%, 50%);
	font-family:"Comic Sans MS", cursive;
	user-select: none;
}
.right h1{
	color: #903;
	font-size: 70px;
	font-weight: bold;
	width: 700px;
	text-align: center; 
}
.right h2{
	color: #F6C;
	font-size: 30px;
	width: 665px;
	margin top: 10px;
	text-align: center;
}
/*footer style*/
footer adress{
	background-color: #000;
	color: #999;
	color:rgb(255,355,355,0/7);
	font:normal small-caps bold 0.9em/3em
	Quicksand, Verdana, Geneva, sans-serif;
	text-align:center;


	
	